:root {
  --color-0-0: #ffae47;
  --color-0-1: #bf9158;
  --color-0-2: #a66717;
  --color-0-3: #ffc275;
  --color-0-4: #ffd29a;

  --color-1-0: #47a3de;
  --color-1-1: #5285a7;
  --color-1-2: #176190;
  --color-1-3: #75bfef;
  --color-1-4: #95cbef;

  --color-2-0: #1d2124;
}
