@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-row($justify-content, $align-items, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin text-header($color: var(--color-2-0), $size: var(--font-size-2), $weight: var(--font-weight-2)) {
    color: $color;
    font-size: $size;
    font-family: var(--font-family-0);
    line-height: var(--line-height);
    font-weight: $weight;
}